html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    /* page background */
}

.fas {
    color: brown;
}

#main-heading {
    background-image: url(../images/memphis-mini.png);
}

button,
#add-movie {
    margin: 3px;
    border: 2px solid grey;
    background-color: lightskyblue;
    border-radius: 5px;
}

button:hover {
    font-weight: bold;
    border: 1px solid grey;
}

#add-movie:hover {
    border: 1px solid grey;
    font-weight: bold;
}

.movie-item {
    display: block;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    border: 2px solid darkgrey;
    border-radius: 5px;
}

img.movie-image {
    width: 75%;
    height: 75%;
    box-sizing: border-box;
    border: 1px solid gray;
}

.movie-item:hover {
    opacity: 0.95;
    border: 4px solid lightseagreen;
}


/* media queries */

@media only screen and (max-width: 992px) {
    html,
    body {
        height: 150%;
    }
}

@media only screen and (max-width: 768px) {
    html,
    body {
        height: 200%;
    }
}